<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Seyntex Business Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/broodjes">Broodjes bestellen
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedin; else login">
          <a class="nav-link"
             (click)="logout()">Logout
          </a>
          <a class="nav-link"
             routerLink="/userdashboard">{{user.username}}
          </a>
        </li>
        <ng-template #login>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/login">Login
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>



<!--

  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/broodjes">Broodjes bestellen</a></li>



    <li *ngIf="loggedin; else login">
      <a (click)="logout()">Logout</a>
      <a routerLink="/userdashboard">{{user.username}}</a>
    </li>

    <ng-template #login>
      <a routerLink="/login">Login</a>
    </ng-template>

  </ul>

  -->












