<div class="container">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/broodjes">Broodjes bestellen</a></li>



      <li class="nav-item" *ngIf="loggedin; else login">
        <a class="nav-link"(click)="logout()">Logout</a>
        <a class="nav-link" routerLink="/userdashboard">{{user.username}}</a>
      </li>

      <ng-template #login>
        <a class="nav-link" routerLink="/login">Login</a>
      </ng-template>

    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>

</div>



<!--

  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/broodjes">Broodjes bestellen</a></li>



    <li *ngIf="loggedin; else login">
      <a (click)="logout()">Logout</a>
      <a routerLink="/userdashboard">{{user.username}}</a>
    </li>

    <ng-template #login>
      <a routerLink="/login">Login</a>
    </ng-template>

  </ul>

  -->












