<div>

  <h3>User info:</h3>
  <div *ngIf="user">
    <label>Username:</label><br>
    <label>{{user.username}}</label><br>
    <label>Firstname:</label><br>
    <label>{{user.firstname}}</label><br>
    <label>Lastname:</label><br>
    <label>{{user.lastname}}</label><br>
    <label>Email:</label><br>
    <label>{{user.email}}</label><br>
  </div>
  <li *ngFor="let orderitem of userOrders">
    <span class="broodjes" >{{orderitem.id}} :         </span>
    <span class="broodjes"> {{orderitem.userid}}   </span>
    <span class="broodjes"> {{orderitem.broodjeid}}   </span>
    <button>Edit order</button>
  </li>

</div>

<ul>
  <li *ngFor="let orderitem of orders">
    <span class="broodjes" >{{orderitem.id}} :         </span>
    <span class="broodjes"> {{orderitem.userid}}   </span>
    <span class="broodjes"> {{orderitem.broodjeid}}   </span>
  </li>
</ul>



