<h1>Bestel broodjes</h1>

<label> {{gekozenBroodje.name || "Selecteer broodje"}}</label>

<!--Bind to the sandwich options object. This way all the hassle with switching items is solved-->
<select [(ngModel)]="broodjeOpties.type" >
    <option *ngFor="let opt of typeOptions" [ngValue]='opt.value' [selected]="broodjeOpties.type == opt.value">{{opt.display}}</option>
</select>

<select [(ngModel)]="broodjeOpties.greens">
    <option *ngFor="let opt of greensOptions" [ngValue]='opt.value' [selected]="broodjeOpties.greens == opt.value">{{opt.display}}</option>
</select>
<input type="text" [(ngModel)]="broodjeOpties.comments">

<button (click)="bestel()">bestel</button>

<ul class="broodjes" >
  <li *ngFor="let broodje of broodjes" (click)="selectBroodje(broodje)">
    <span class="broodjes" >{{broodje.name}} :         </span>
    <span class="broodjes"> {{broodje.description}}</span>
  </li>
</ul>





